/* You'll probably want to add some styles here */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

#container {
	height:800px;
}

body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 0.5cm;
}

h1, table {
	text-align: center;
}

th {
	font-weight: 400;
	text-align: center;
}

h1 {
	padding: 20pt;
}



.male {
	color: #4c4cff;
	font-weight: 400;
}

.female {
	color: #ffa5d2;
	font-weight: 400;
}

.unknown {
	color: #32CD99;
	font-weight: 400;
}

p {
	text-align: center;
}